.containter {
  display: flex;
  align-items:flex-start;
}

#avatar {
  margin-left: 50px;
  margin-right: 50px;
  display: block;
}

#words {
  word-spacing: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

@media screen and (min-width: 20em) {
   /*br {
    display: none; /* hide the BR tag for wider screens (i.e. disable the line break)
  }*/
}
