.intro .container > *:nth-child(2) {
  font-size: 1.2rem;
  margin: 0px 20px;
  padding: 10px;
}

.contact {
  margin:auto;
  justify-self: flex-start;
}

.container {
  margin: 0 auto;
  padding: 0px;
}
