<div class="containter">
  <div>
    <img id="avatar" src='../../../assets/avatar.png' alt='avatar' width='300' height='240'>
    <p>
      Contact email: tianji.liuATmail.utoronto.ca <br>
      Github: https://github.com/18az18 <br>
    </p>
  </div>
  <div class="intro">
    <p id="words">
      Welcome to Tian Ji Liu's Personal page. <br>
      I am a university student graduated from UTSC with a degree of Honours Bachelor of Science Specialist
      in Computer Science, Software Engineering Stream by Nov 2020. <br>
      Projects that I have done inside and outside of school: <br>

    </p>
  </div>
</div>
