<section class="intro">
  <div class="container flex">
      <div class="contact text">
        <h3 class="bold">Contact email:</h3>
        <p>tianji.liuATmail.utoronto.ca</p>
        <h3 class="bold">Github:</h3>
        <p>https://github.com/18az18</p>
      </div>
    <p class="text">
      Welcome to Tian Ji Liu's personal page. <br>
      I am an alumni graduated from UTSC with a degree of Honours Bachelor of Science Specialist
      in Computer Science, Software Engineering Stream by Nov 2020. <br>
      Web App Projects that I have done inside and outside of school: <br>
      <a href="https://github.com/18az18/zufang_website" target="_blank">Housing Web App</a>
      This is a web app that is based on MEAN stack done during my spare time with a group of people.
      <a href="https://github.com/18az18/c09Project" target="_blank">Game Room Web App</a>
      This is a web app that is based on MERN stack done as a final project for my course during school.
    </p>
  </div>
</section>

